<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lektion15-GUIJavaFX/src/opgave1combinenames/Opgave1FirstAndLastName.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="opgave1combinenames.Opgave1FirstAndLastName"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lektion15-GUIJavaFX"/>
</launchConfiguration>
